<!DOCTYPE html>
<html>
  <head>
    <title>Canvas Pictionary</title>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" type ="text/css" href="stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Inknut+Antiqua|Ravi+Prakash" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <script type="text/javascript" src = "javascripts/scripts.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<!--  <script type="text/javascript" src = "/socket.io/socket.io.js"></script> -->

    <script src="http://localhost:7090/socket.io/socket.io.js"></script>

  
  



  </head>


  <body>

    <div class = "container">
      <div class = "row">
          <div class = "col-md-12 header">
                <div id = "toolbar" class = "text-center">
                  <label>Choose marker color</label>
                  <input type = "color"  id = "color-picker"/>
                  <label>Choose marker thickness</label>
                  <input type = "number" id = "thickness" placeholder ="10"/>
                   
                </div>
          </div>
      </div>

      <div id = "background-wrap">
        <div class = "img-center">
            <img src = "./images/p1.jpg" id = "bg" alt ="" name = "bkImage1"/>
            <img src = "./images/p2.jpg" id = "bg" alt ="" name = "bkImage2"/>
        </div>
      </div>

    <div class = "row">
      <div class = "col-lg-12 main">
              <div id = "time">
                <div class = "time-unit">
                    <span class = "seconds"></span>
                    <span class = "smalltext">Timer</span>
                </div>
              </div>


                  <!--    THE LEFT SIDE -->

              <div class = "col-md-2 left">
                  <button class = "btn btn-default" id = "changeBG">Change Background</button>
                  <button class = "btn btn-default" id = "startEasy">Easy</button>
                  <button class = "btn btn-default" id = "startFair">Fair</button>
                  <button class = "btn btn-default" id = "startHard">Hard</button>  
              </div>


                    <!--     THE CANVAS -->

              <div class = "col-sm-8 thecanvas">
                  <h1>PICTO DASH!</h1>
                  <canvas id = "canvas"  height ="378px" width = "500px"></canvas>
              </div>

               <!--  THE RIGHT SIDE -->

              <div class = "col-md-2 right">
                  <div id = "message1">Word Box</div>
                   <button class = "btn btn-default2" id = "clearPic">Clear Picture</button> 
                  <button class = "btn btn-default2"  id = "clearBox">Clear Boxes</button>
                  <button class = "btn btn-default2"  id = "doSnapshot" >Snapshot</button>
              </div>
        </div>
      </div>

        <!--   THE CHAT BOX START -->

      <div class = "chat-parent">

            <div class = "nav-parent" id = "nav-bar">
                <div class = "nav-child" id = "chat-icon">
                  
                </div> 

                <div class = "nav-child" id = "title">
                    <h3> CHAT!</h3> 
                </div> 

                <div class = "nav-child" id = "person">
                    <img src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/personal.png">
                </div>

               <!--  NEW USERS SECTION START -->
                
                <form class = "nav-child" id = "submitUser">
                    <input type = "text" id = "new-user">
                    <button type = "submit" id = "newUser">JOIN</button>               
                </form>

            </div>

            <div class = "userslist-parent">
            
                  <div id =  "online-users" class ="users-child">Online Users</div> 

                  <div id = "users" class= "users-child"></div> <!-- User's name here --> </div>

            <div class = "text-parent">

                <div class = "text-child" id = "messages">
                  <p> <!-- Messages display here  --> </p>

                </div>

                <form class = "text-child" id = "submit-message">
                    <input type = "text" id = "new-message"/>
                    <button type = "submit" id = "send">SEND</button>
                </form>
              <!-- <span id = "notifyUser"></span> -->


             <!--    <form class = "text-child" id = "submit-message">

                      <input type = "hidden" id = "user" value="">
                      <input id="new-message" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type your message here...">
                      <button type = "submit" id = "send">SEND</button>
                </form> -->


                <div class = "text-child" id = "emoji-box">
                </div>
      
            </div>

        </div>  


    </div>





 

  </body>
</html>